In [1]:
import requests

In [2]:
import pandas as pd

In [3]:
#import url + 'query' to the end
url = 'https://earthquake.usgs.gov/fdsnws/event/1/query'

In [4]:
#collect data from a certain timeframe
payload = {'format':'csv',
          'starttime':'1990-01-01',
          'minlatitude': '34.946669',
          'maxlatitude': '36.533847',
          'minlongitude': '-90.229141',
          'maxlongitude': '-81.663552'}

In [5]:
#r means response
r = requests.get(url=url, params=payload)

In [6]:
print(r.url)

https://earthquake.usgs.gov/fdsnws/event/1/query?format=csv&starttime=1990-01-01&minlatitude=34.946669&maxlatitude=36.533847&minlongitude=-90.229141&maxlongitude=-81.663552

In [7]:
from io import StringIO

In [10]:
eq = pd.read_csv(r.url)
eq.shape

(5115, 22)

In [14]:
eq.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5115 entries, 0 to 5114
Data columns (total 22 columns):
time               5115 non-null object
latitude           5115 non-null float64
longitude          5115 non-null float64
depth              5115 non-null float64
mag                5115 non-null float64
magType            5115 non-null object
nst                4728 non-null float64
gap                4726 non-null float64
dmin               4581 non-null float64
rms                4734 non-null float64
net                5115 non-null object
id                 5115 non-null object
updated            5115 non-null object
place              5115 non-null object
type               5115 non-null object
horizontalError    4786 non-null float64
depthError         4785 non-null float64
magError           4710 non-null float64
magNst             4725 non-null float64
status             5115 non-null object
locationSource     5115 non-null object
magSource          5115 non-null object
dtypes: float64(12), object(10)
memory usage: 879.2+ KB

In [21]:
#extract only Tennessee
eq = eq[eq['place'].str.contains('Tennessee', na=False)]

In [22]:
eq.shape

(3462, 22)

In [23]:
eq.head()

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
2,2019-10-13T01:04:47.740Z,36.307000,-89.491667,4.78,1.79,md,17.0,73.0,0.02534,0.13,...,2019-10-13T16:46:50.800Z,"4km N of Ridgely, Tennessee",earthquake,0.25,0.24,0.088,11.0,reviewed,nm,nm
3,2019-10-10T09:27:30.700Z,36.268667,-89.473167,7.48,1.77,md,16.0,71.0,0.03029,0.02,...,2019-10-11T11:18:29.184Z,"1km ENE of Ridgely, Tennessee",earthquake,0.46,0.69,0.151,13.0,reviewed,nm,nm
4,2019-10-09T17:01:16.960Z,36.265000,-89.467833,7.12,1.22,md,10.0,71.0,0.03297,0.08,...,2019-10-10T13:08:02.930Z,"1km E of Ridgely, Tennessee",earthquake,0.51,0.99,0.012,8.0,reviewed,nm,nm
5,2019-10-08T23:06:03.930Z,35.820667,-83.945333,20.88,2.35,md,11.0,116.0,0.11350,0.12,...,2019-10-10T01:36:42.697Z,"3km NNW of Eagleton Village, Tennessee",earthquake,0.41,0.66,0.063,8.0,reviewed,se,se
7,2019-10-06T05:53:02.150Z,36.277000,-89.503833,8.49,1.75,md,20.0,67.0,0.02174,0.05,...,2019-10-06T17:01:28.650Z,"2km NW of Ridgely, Tennessee",earthquake,0.44,0.63,0.080,14.0,reviewed,nm,nm

In [24]:
eq.tail()

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
5107,1990-01-14T14:18:08.190Z,36.189,-89.511,8.1,1.5,md,NaN,NaN,NaN,NaN,...,2016-04-14T18:26:58.870Z,"8km SSW of Ridgely, Tennessee",earthquake,NaN,NaN,NaN,NaN,reviewed,nm,nm
5108,1990-01-13T01:55:58.030Z,35.782,-89.329,19.4,1.7,md,NaN,NaN,NaN,NaN,...,2016-04-14T18:26:52.050Z,"12km SSE of Halls, Tennessee",earthquake,NaN,NaN,NaN,NaN,reviewed,nm,nm
5110,1990-01-11T12:18:11.200Z,36.460,-89.550,6.0,2.1,md,NaN,NaN,NaN,NaN,...,2016-04-14T18:26:31.650Z,"11km NW of Tiptonville, Tennessee",earthquake,NaN,NaN,NaN,NaN,reviewed,nm,nm
5111,1990-01-09T10:53:31.560Z,36.109,-89.263,7.0,2.5,md,NaN,NaN,NaN,NaN,...,2016-04-14T18:26:24.910Z,"0km SSW of Newbern, Tennessee",earthquake,NaN,NaN,NaN,NaN,reviewed,nm,nm
5114,1990-01-05T17:40:49.150Z,36.469,-89.535,2.6,1.5,md,NaN,NaN,NaN,NaN,...,2016-04-14T18:25:57.420Z,"11km NNW of Tiptonville, Tennessee",earthquake,NaN,NaN,NaN,NaN,reviewed,nm,nm

In [ ]:
eq['year']=